/* Ci-dessous, ça concerne juste l'en-tête*/
.en_tete {
    margin: auto;
    text-align: justify;
    text-align: center;
}

#nom_et_Fonction {
    font-size: xxx-large;
    margin-bottom: 0;
    margin-top: 0px;
    color: #1F497D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.sous_entete p {
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 10px;
}

.citizenship p {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 8px;
}

.citizenship {
    margin-top: 0;
}

/* Ci-dessous, ça concerne juste les Key Skills */

#key_skills {
    display: inline;
}

/* Ci-dessous, ça concerne juste les Hobbies */

.hobby .hobby_description {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.hobby {
    margin-top: 15px;
}

.hobby p {
    display: inline;
}

.hobby_name {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}



/* Général styling */

.section_title {
    border-bottom: 2px solid #00205F;
    /* C'est un peu long, trouver comment réduire la border */
    font-size: x-large;
    color: #00205F;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.experience_name p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.special_mention {
    color: #17365D;
    font-size: larger;
}

.job_title {
    font-size: large;
}

.company_name {
    color: #1F497D;
    font-size: large;
}

.activity_period {
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.quick_description {
    margin-top: 13px;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.quick_description2 {
    margin-top: 0px;
    line-height: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.skill {
    color: #17365D;
    font-size: large;
    margin-bottom: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


/* Ci-dessous, ça concerne juste les listes <li> */

.bullet_point {
    list-style-type: none;
    margin-left: -22px;
    text-indent: -18px;
}

.bullet_point li::before {
    color: #BC014F;
    content: "⚬";
    margin-right: 10px;
}

.bullet_point li {
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}


/* Ci-dessous, table specification */

table {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

th,
td {
    text-align: left;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -30;
}

.education_table {
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.certif_table {
    padding-left: 33px;
}

/* Ci-dessous, les liens et urls */

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}